#map{
	height: 500px;
	width: 800px;
	margin: auto;
	margin-top: 20px;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;

}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
@media screen and (max-width: 1024px) {/* Centrado tablet menor a 1024*/
	#map{
		height: 500px;
		width: 100%;
		margin: auto;
		margin-top: 20px;
	}
}
@media screen and (max-width: 414px) {/* Centrado en el movil menor a 414*/
	#map{
		height: 400px;
		width: 100%;
		margin: auto;
		margin-top: 20px;
	}
	.legend {
		text-align: left;
		line-height: 10px;
		color: #555;
		font-size: 9px;
	}
	.legend i {
		width: 9px;
		height: 9px;
		float: left;
		margin-right: 8px;
		opacity: 0.7;
	}
}
